.block{
    background: whitesmoke;
    height: 50px;
    font-size: large;
    width: 500px;
    display: flex;
    align-items: center;
    margin: 10px 0;

}
.block div{
    font-size: x-large;
    margin: 7px;
    font-family: "Roboto";
}
.block span div{
    font-size: x-large;
    margin: 7px;
    font-family: "Roboto";
}
.block span{
    display: flex;
}
.container{
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-between;
}
.change{
    height: 40px;
    cursor: pointer;
}
@media (max-width: 800px) {
    .block{
        width: 330px;
    }
    .block div{
        font-size: xx-small;
    }
    .container{
        width: 440px;
    }
    .change{
        height: 30px;
    }

}
@media (max-width: 400px) {
    .block{
        width: 300px;
    }
    .block div{
        font-size: xx-small;
    }
    .container{
        width: 300px;
    }
    .container button{
        position: relative;
        top: -35px;
    }
    .change{
        height: 30px;
        position: relative;
        top:-35px
    }

}