.miniCart_item{
    width:300px;
    font-family: 'Fredoka One', cursive;
    color: green;
    margin-bottom: 20px;
}
.miniCart_item div{
    display: flex;
    justify-content: space-around;
    font-family: 'Fredoka One', cursive;
}
.miniCart_item div div{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;

}
.miniCart_item img{
    height: 90px;
    width: 100px;
    object-fit: cover;

}
.miniCart_item:hover img{
    transform: scale(1.3);
}

.deleteButton{
    font-size: large;
    position: relative;
    cursor: pointer;
}
.deleteButton::selection{
    background: transparent;
}
