body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: whitesmoke !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
    text-align: center;
    cursor: pointer;
}

.spinner {
    position: relative;
    top: 300px;
    text-align: center;
}

/*Cart*/
.emptycart{
    min-height: 1000px;
    height: 100%;
}

.cart__changeAddress {
    width: 480px !important;
}

.cart__image {
    height: 100px;
}

.cart__block {
    margin: 2em;
    margin-top: 1em !important;
    background: white;
    padding: 2.5% 0 2.5% 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.cart__text {
    font-size: xx-large;
}

.cart__delbuttom {
    cursor: pointer;
    width: 16px;
    right: 5%;
    border-radius: 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    font-size: xx-large;
}

.cart__unit {
    font-size: unset;
}

.cart__confirm--box {
    background: white;
    width: 110%;
    height: 8em;
    margin-right: 2em;
    margin-bottom: 2em;
    padding: 1em;
    font-size: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.confirm-order-button {
    height: 2em;
    width: 100%;
    background: cadetblue;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
}

.small {
    font-size: small;
}

.cart-link {
    text-align: center !important;
}

.cart-return-toproducts-href {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20em;
}

.cart__product--name {
    margin-left: 3em;
}

/*LoginPage*/

.login__picture {
    width: 100%;
    height: 5em;
    object-fit: contain;
    margin-bottom: 0px;
}

.login__text {
    color: #009800;
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: unset;
}

.login__text:after {
    content: "";
    display: block;
    background-color: green;
    height: 4px;
    width: 40px;
    margin: auto;
    margin-top: 30px;

}

.login__container {
    width: 400px;
    border-color: gray;
    margin: auto;
    margin-top: 20px;
    background: white;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 30px;
    color: #282c34;
    box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .2);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center
}

.login__input {
    width: 60% !important;
    margin-left: 20% !important;
    font-family: 'Pacifico', cursive;
    margin-bottom: 25px !important;
}

.greenbuttom {
    background: #4bd186 !important;
    color: white !important;
    margin-left: 25% !important;
    border-radius: 200px !important;
    width: 50%;
    font-family: 'Pacifico', cursive;
    border-color: #4bd186 !important;
    margin-bottom: 2em;
}

.noaccaunt__text {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    color: #009800;
    margin-top: 3em;
    font-size: large;
}

.header__image {
    object-fit: cover;
    height: 180px;
    width: 100%;
    box-shadow: 0 0.05em;
}

/*AboutUs*/
.aboutUs__ok {
    height: 15px;
}

.aboutUs__text {
    text-align: center;
    margin-bottom: 0em !important;
    font-family: Satisfy;
    margin-top: 6% !important;
}

.aboutUs__text2 {
    margin-top: 0em !important;
    text-align: center;
    color: #009800;
    font-family: Satisfy;
    font-size: 45px;
}

.aboutUs__background {
    background: whitesmoke;
    height: 1000px;
    overflow: hidden;
}

.aboutUS__image {
    margin-top: 40px;
    margin-bottom: 60px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 200px;
    border: 0 solid green;
    box-shadow: 0 0 7px #666
}

.aboutUs__item__text {
    color: #009800;
    font-family: Crimson Text;
    margin-top: 0% !important;
    margin-bottom: 1% !important;
    text-align: center;
}

.aboutUs__item__text:after {
    content: "";
    display: block;
    background-color: green;
    height: 2.5px;
    width: 40px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;

}

.aboutUs__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.aboutUs__stories {
    margin-left: 5px;
}

/*Main*/
.main__image {
    width: 100%;
    height: 1200px;
    object-fit: cover;
}

.main__container {
    display: block;
    position: absolute;
    background-color: #81b481;
    height: 280px;
    width: 500px;;
    top: 30%;
    margin-left: 10%;
    z-index: 1;
}

.main__whitetext {
    color: whitesmoke;
    font-family: 'Noto Serif', serif;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}

.main__greentext {
    color: #004700;
    font-family: 'Abril Fatface', cursive;
}

.greenbuttom__main {
    margin-top: 66px;
    background: #3e7c59 !important;
    color: white !important;
    width: 200px;
    font-family: 'Abril Fatface', cursive;
    border-color: #058504 !important;
}

.greenbuttom__main:hover {
    background: linear-gradient(to left, #4bd186 50%, #0f963e 70%) no-repeat scroll right bottom / 210% 100% #f4e9d7 !important;
    border-color: #4bd186 !important;

}

/*Footer*/
.footer {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(http://30ihbf24xubr31p1zp2921c6.wpengine.netdna-cdn.com/wp-content/uploads/2017/06/footer-bg.jpg);
    width: 100%;
    object-fit: cover;
    position: absolute;
    height: 220px;
}

.footer__blur {
    width: 100%;
    background-color: black;
    position: absolute;
    height: 220px;
    opacity: 0.7;
}

.vc_custom {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    background-color: #111822 !important;
}

.footer__item {
    width: 70%;
    color: white;
    font-size: medium;
    margin-right: 20px;
    line-height: 28px;
}

.greenline__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #008200;
    height: 0.2em;
    width: 20%;
}

.footer__conteiner {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.footer__item--conteiner {
    display: flex;
    justify-content: space-between;
}

.footer__image {
    height: 180px;
}

.lineHeight {
    margin-top: 2px;
    line-height: 2px;
}

/*BlackCart*/
.blackCart__btn--position {
    display: flex;
    justify-content: center;
}

.blackCart__cartbtn:hover {
    background-color: #000!important;
    color: #efff47!important;
}

.blackCart__cartbtn {
    height: 50px!important;
    width: 100% !important;
    color: #ececec!important;
    text-transform: uppercase!important;
    background-color: #0c0b10!important;
    text-align: center!important;
    margin-top: 40px!important;
    transition: background-color .2s!important;
    padding-left: 9px!important;
    padding-right: 9px!important;
    padding-top: 12px!important;
    padding-bottom: 4px!important;
    border: 1px solid #0c0b10 !important;
}

.blackCart__item {

}

.blackCart__countbutton {
    background: black;
    width: 1.6em;
    color: whitesmoke;
    user-select: none;
}

.blackCart__column {
    display: flex;
    flex-flow: column;
    text-align: center;
}


.blackCart__img {
    margin-bottom: 2em;
    height: 60px;
    object-fit: cover;
    width: 60px;
}

.blackCart__foter {
    background: #222125;
    height: 700px;
    margin-top: 0px;
    padding-top: 20px;
}

.backCart__closebtn {
    width: 50px;
    height: 50px;
    color: #ececec;
    background-color: #1b1a20;
    text-align: center;
    position: absolute;
    top: 0;
    left: -50px;
    cursor: pointer;
    line-height: 50px;
}

.blackCart__line {
    width: 100%;
    background: #2e2c31;
    height: 2px;
}

.blackCart__out {
    margin-top: 60px;
    width: 320px;
    background: #1b1a20;
    align-items: center;
    color: #ececec;
    font-size: medium;
    z-index: 1;
    position: fixed;
    animation-name: exa2;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    display: block;
    height: 100%;
}

.blackCart__in {
    height: 100%;
    margin-top: 60px;
    width: 320px;
    background: #1b1a20;
    align-items: center;
    color: #ececec;
    font-size: medium;
    z-index: 1;
    position: fixed;
    animation-name: exa;
    animation-duration: 1s;
    animation-fill-mode: both;
    display: block;
}

/*UserData*/
.userdata__address--in {
    z-index: 1;
    border-color: gray;
    background: white;
    color: #282c34;
    box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .2);
    width: 400px;
    position: fixed;
    animation-name: exa;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    display: block;
    right: 0;
    height: 90%;
}

.userdata__address--out {
    z-index: 1;
    border-color: gray;
    background: white;
    color: #282c34;
    box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .2);
    width: 400px;
    position: fixed;
    animation-name: exa2;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    display: block;
    right: 0;
    height: 95%;
}

.userdata__change--buttom {
    width: 180px;
    margin-top: 20px;
}

.userdata__addbuttom {
    font-family: 'Pacifico', cursive;
    background: #4bd186 !important;
    color: white !important;
    border-color: #4bd186 !important;
}

.userdata__input--editAdress {
    color: black !important;
    width: 100% !important;
}

.userdata__text {
    color: #282c34;
    font-family: 'Noto Serif', serif;

}

.userdata__input--on {
    color: black !important;
    width: 23% !important;
}

.userdata__input--off {
    color: black;
    width: 23% !important;
    opacity: 90%;
}

.userdata__greenline {
    width: 80%;
    background: #009800;
    height: 0.04em;
}

.userdata__personaldata {
    color: #43b471;
    font-family: 'Poppins', sans-serif;
    margin-top: 2em;
    font-size: larger;

}

.userdata {
    min-height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(https://30ihbf24xubr31p1zp2921c6-wpengine.netdna-ssl.com/wp-content/uploads/2018/03/home-bg2.jpg);
}

.userdata__title {
    display: flex;
    margin-bottom: 2em;
    align-items: center;
}

.userdata__title--text {
    margin-top: 2em;
    color: #004700;
    font-family: 'Pacifico', cursive;
    width: 100%;
}

/*ProductDetails*/
.productDetails__addcomment--button {
    float: right;
    margin-bottom: 2em;
    margin-top: 1em;
}

.productDetails__name {
    text-transform: uppercase;
    font-family: 'Gabriela', serif;
    color: green;
    font-size: xx-large;
    text-align: center;
}

.productDetails__comments--title {
    margin-top: 100px;
    text-transform: uppercase;
    font-family: 'Gabriela', serif;
    color: green;
    font-size: xx-large;
    text-align: center;
}

.productDetails__image {
    width: 20em;
    margin-top: 0em;
    object-fit: cover;
}

.productDetails__count-button {
    margin-left: 5em;
    margin-bottom: 5em;
}

.productDetails__input {
    width: 20% !important;
}

.productDetails__greenbuttom {
    background: #4bd186 !important;
    color: white !important;
    border-radius: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    border-color: #4bd186 !important;
    margin-bottom: 2em;
    margin-left: 1em;
    width: 10em;
    font-size: x-large !important;


}

.productDetails__text {
    height: 23em;
    margin-top: 11em;
    width: 40%

}

.productDetails {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10em;
}

.productDetails__comments {
    background: white;
    height: 5em;
    display: flex;
    margin-bottom: 2em;
    font-size: larger;
    justify-content: space-between;
}

.productDetails__coments--username {
    margin-right: 2em;
    display: flex;
    color: #61dafb;
    align-items: flex-end;
}

.productDetails__commetns--conteiner {
    display: flex;
    justify-content: center;
    color: black;
    font-size: xx-large;
}

.productDetails__comment--icon {
    width: 3em;
}


.productDetails__info {
    width: 90%;
}

.productDetails__comments--text {
    display: flex;
    align-items: center;

}


/*Products*/
.product__container {
    margin: 5em 2em 5em 2em;
    text-align: center;
    padding: 10px;
    background: snow;
    border: 1.2px double gray;
    width: 60%;
    height: 400px;
}

.product__container:hover {
    border: 1.2px solid #00de00;
}

.product__more--buttom {
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.product__image:hover {
    object-fit: cover;

}

.product__item--text {
    color: #008200;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: large;
    font-weight: 700;
    font-family: 'Russo One';

}

.product__item--price {
    color: black;
    margin-bottom: 1em;
    font-weight: 700;
    font-size: xx-large;
    font-family: 'Permanent Marker';
}

.product__image {
    height: 250px;
    object-fit: contain;
    width: 90%;
}

.organiko__title {
    margin: 2em;
    font-size: 2em;
    color: #222125;
    font-family: Satisfy;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-family: 'Libre Baskerville'
}

.organiko__title--green {
    font-size: 5em;
    color: #67b20d;
    font-family: Satisfy;
    margin-bottom: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center
}

.productDetails__comment--container {
    overflow: auto;
    height: 400px;
}

/*Анимации*/
.blur {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5) !important;
    z-index: 6;
    position: fixed;
    top: 0;
}

.empty {
}

@keyframes exa {
    from {
        right: -80em;
        top: 0px;
    }
    to {
        right: 0px;
        top: 0px;
    }
}

@keyframes exa2 {
    from {
        right: 0px;
        top: 0px;
    }
    to {
        right: -80em;
        top: 0px;
    }

}

/*Header*/
.burger__menu{
    display: none;
}

.burger {
    display: none;
}

.header__text:hover {
    color: #2fb128;
    transition: color 0.3s linear;
}

.header__text {
    color: black;
}

.header {
    background: white;
    font-family: 'Pacifico', cursive;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.badge{
    margin-top: 7px!important;
}
.header__logo {
    height: 50px;
    object-fit: contain;
    margin-top: 2px;
    margin-bottom: 2px;
}


/*PAD*/
@media (max-width: 800px) {
    .main__image {
        height: 900px;
    }

    .header {
        display: none
    }

    .header__logo {
        height: 60px;
        margin-bottom: 0;
    }

    .burger__menu--cart {
        height: 30px;
        margin-left: 10px;
    }
    .badge{
        margin-left: -55px!important;
    }
    .burger {

        border-bottom: 1px solid gray;
        display: flex;
        justify-content: space-around;
        z-index: 2;
        width: 100%;
        background-color: white;
        position: fixed;
    }

    .burger__toggle {
        position: relative;
        height: 30px;
        width: 30px;
        margin-top: 15px;
    }

    .burger__toggle--item {
        margin-top: 50%;
        position: absolute;
        height: 3px;
        width: 100%;
        background: black;

    }

    .burger__toggle--item:after,
    .burger__toggle--item:before {
        content: "";
        display: block;
        height: 2px;
        background: black;
        width: 100%;
        position: absolute;
        transition: transform 0.2s linear;
    }

    .burger__toggle--item:after {
        transform-origin: right top;
        top: 10px;
    }

    .burger__menu {
        font-weight: 600;
        display: flex;
        flex-direction: column;
        z-index: 2;
        margin-top: 62px;
        height: 200px;
        background: white;
        width: 160px;
        position: fixed;
        padding-left: 20px;
        justify-content: space-evenly;
        border-top: 1.19px solid grey;

    }


    .burger__toggle--item:before {
        transform-origin: left bottom;
        bottom: 10px;
    }

    .transform {
        height: 0
    }

    .transform:after {
        transform: rotate(45deg) translateY(0px) translateX(-1px);
    }

    .transform:before {
        transform: rotate(-45deg) translateY(19px) translateX(-9px);

    }

    .main__container {
        position: absolute;
        width: 400px;
        height: 240px;
        font-size: 15px;
        margin-left: 0;
    }

    .greenbuttom__main {
        margin-top: 55px;
    }

    .main__whitetext {
        font-size: 30px;
    }

    .footer__image {
        height: 120px;
    }

    .footer {
        height: 130px;
    }

    .footer__blur {
        height: 130px;
    }

    .footer__item {
        font-size: x-small;
        line-height: 1.4;
    }

    /*Products*/
    .product__item--text {
        font-size: small;

    }

    .product__item--price {
        font-weight: 500;
        font-size: medium;
    }

    .product__image {
        height: 160px;
        object-fit: scale-down;
        width: 80%;
    }

}

@media (max-width: 600px) {
    .productDetail__margin {
        margin-bottom: 260px;
    }

    .productDetails__addcomment--button {
        margin-left: 146px !important;
        position: relative;
    }

    .productDetails__comments--title {
        font-size: 20px;
    }

    .productDetails__addcomment {
        width: 100% !important;
    }

    .productDetails__comments {
        width: 100% !important;
    }

    .productDetails__greenbuttom {
        font-size: medium !important;
        margin-left: 24px;
        margin-top: 0px;
    }

    .productDetails {
        flex-direction: column;
        margin-bottom: 100px !important;
    }

    .productDetails__name {
        text-align: left;
        margin-left: 40px;
    }

    .productDetails__text {
        margin-top: 1em;
        width: 90%;
    }

    .productDetails__image {
        width: 200px;
    }

    .productDetails__count-button {
        margin-left: 35px;
        margin-bottom: 10px;
    }

}

/*Mobilki*/
@media (max-width: 400px) {
    .header__image {
        object-fit: cover;
        height: 120px;
        width: 100%;
        box-shadow: 0 0.05em;
    }

    /*LoginPage*/
    .login__container {
        width: 300px;
    }

    .login__container {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .login__text {
        margin-top: 2px !important;
        font-size: 22px;
    }

    .login__input {
        height: 22px !important;
    }

    .noaccaunt__text {
        margin-top: 5px;
    }

    /*AboutUs*/
    .aboutUs__text {
        text-align: center;
        margin-bottom: 0em !important;
        font-family: Satisfy;
        margin-top: 6% !important;
        font-size: 20px;
    }

    .aboutUs__text2 {
        margin-top: 0em !important;
        text-align: center;
        color: #009800;
        font-family: Satisfy;
        font-size: 30px;

    }

    .aboutUS__image {
        margin-top: 5px;
        height: 250px;
    }

    .aboutUs__container {
        flex-wrap: wrap;
    }

    .aboutUs__stories {
        font-size: small;
    }

    /*Main*/
    .main__whitetext {
        font-size: 16px;
    }

    .main__container {
        margin-left: 0;
        width: 260px;
        height: 150px;
    }

    .greenbuttom__main {
        margin-top: 8px;
        width: 150px;
        font-size: initial !important;
    }

    .main__image {
        height: 500px;
    }

    /*Footer*/
    .footer__image {
        height: 60px;
    }

    .footer {
        height: 100px;
        width: 100%;
    }

    .footer__blur {
        height: 100px;
    }

    .footer__item {
        line-height: 1;

    }

    /*BlackCart*/
    .blackCart__del {
        cursor: pointer;
        width: 16px;
        height: 16px;
        right: 5%;
        border-radius: 50%;
        background-size: auto 100%;
        background-repeat: no-repeat;
    }

    .blackCart__foter {
        height: 463px;
        margin-top: 0px;
    }

    .blackCart__in {
        width: 275px;
    }

    .blackCart__out {
        width: 275px;
    }

    .blackCart__item {
        font-size: xx-small;

    }

    .blackCart__img {
        height: 40px;
        width: 40px;
        margin-left: 20px;
    }

    .blackCart__cartbtn {
        font-size: small!important;
        height: 35px!important;
        padding-top: 6px!important;
        padding-left: 7px!important;
        padding-right: 7px!important;
        width: 100% !important;
    }

    /*UserData*/
    .organiko__title--green {
        text-align: center;
    }
    .userdata__input--on {
        width: 90% !important;
    }

    .userdata__input--off {
        width: 90% !important;
    }

    .userdata__input--editAdress {
        font-size: xx-small !important;
        width: 30%;
    }

    .userdata__title--text {
        font-size: 20px;
    }

    .userdata__address--out {
        height: 500px;
        width: 300px;
        margin-top: 20px;
    }

    .userdata__address--in {
        height: 500px;
        width: 300px;
        margin-top: 20px;
    }

    /*Profucts*/


    .product__container {
        padding: 0;
        margin-left: 20px;
        width: 90%;
        height: 300px;
    }

    .organiko__title {
        display: none;
    }

    .cart__image {
        height: 40px;
    }


    .cart__text {
        font-size: small;
    }

    .cart__delbuttom {
        font-size: small;

    }

    .cart__unit {
        font-size: small;
    }

    .cart__confirm--box {
        background: white;
        width: 110%;
        height: 8em;
        margin-right: 2em;
        margin-bottom: 2em;
        padding: 1em;
        font-size: initial;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }

    .confirm-order-button {
        height: 2em;
        width: 100%;
        background: cadetblue;
        color: aliceblue;
        text-align: center;
        cursor: pointer;
    }

    .cart__product--name {
        font-size: small;
        margin-left: -10px;
    }

    .cart__changeAddress {
        width: 240px !important;
        font-size: small !important;
        margin-top: 20px !important;
    }

    .cart__confirm--box {
        margin-top: 20px;
        height: 6em;
        margin-left: 170%;
    }

    .cart__select--item {
        font-size: xx-small !important;
    }


}
